{% extends 'social/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header bg-primary text-white">
                        <h3 class="text-center font-weight-light my-4">Login</h3>
                    </div>
                    <div class="card-body">
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            Seu nome de usuário e senha não coincidem. Por favor, tente novamente.
                        </div>
                        {% endif %}

                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" type="text" name="username" required />
                                <label for="username">Nome de usuário</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" type="password" name="password" required />
                                <label for="password">Senha</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="#">Esqueceu a senha?</a>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small">
                            <a href="{% url 'registrar' %}">Não tem uma conta? Cadastre-se!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}