<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<title>Social</title>
</head>
<body>
	
		<div class="row nav navbar bg-info">
			<div class="col-md-4"></div>
			<div class="col-md-4"><a href="#" id="logo">Social - StudyClass </a></div>
			<div class="col-md-4"></div>
		</div>
		
	
	<main class="container">
		<article class="row">
			<div class="col-md-6 bg-warning coluna">
				<div class="titulo text-light">
					Temas
				</div>
			</div>
			<div class="col-md-6 bg-dark coluna" id="coluna2">
				<div class="row">
					<a href="#" class="btn btn-primary col-md-3  m-5">Criar conta</a>
					<a href="#" class="btn btn-danger col-md-3  m-5">Login</a>
				</div>
			</div>
			
		</article>
		<div class="row mt-3">
			<div class="col-md-4 card">
				<a href="#" class="card-header">Título</a>
				<div class="card-body">corpo</div>
			</div>
			<div class="col-md-4 card">
				<a href="#" class="card-header">Título</a>
				<div class="card-body">corpo</div>
			</div>
			<div class="col-md-4 card">
				<a href="#" class="card-header">Título</a>
				<div class="card-body">corpo</div>
			</div>

		</div>


	</main>
	<footer class="card-footer bg-info fixed-bottom">
		<ul>
		<li>Todos os direitos reservados ao 5º Período LC-2025&#169;</li>
		<li>Instituto Federal de Educação, Ciência e Tecnologia do Tocantins</li>
		<ul>
			<li>Campus Araguatins</li>
			<li><a href="https://www.ifto.edu.br/"></a>https://www.ifto.edu.br/</li>
		</ul>
		</ul>
	</footer>

</body>
</html>